.image-header-table {
  margin: 10px 0 20px;
}
.index-header-logo {
  height: 100px;
  width: 94px;
  margin-right: 15px;
}
.index-header {
  margin: 0;
}
.index-header small {
  display: block;
}

ul.nav li.dropdown:hover {
  background-color: #393a35;
  cursor: pointer;
}
ul.nav li.dropdown:hover > ul.dropdown-menu {
  display: block;
}

a {
  color: #325d88;
}
a:hover {
  color: #244363;
}

.nav-tabs.nav-justified > li > a {
  background-color: #3e3f3a;
  color: #FFF;
  border: none;
  margin: 0 1px;
  cursor: pointer;
  user-select: none;
}
.nav-tabs.nav-justified > li:first-of-type > a {
  margin-left: 0;
}
.nav-tabs.nav-justified > li:last-of-type > a {
  margin-right: 0;
}
.nav-tabs.nav-justified > li > a:hover {
  background-color: #393a35;
  border: none;
}
.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover {
  background-color: #242422;
  color: #FFF;
  border: none;
}

pre[class*="language-"] {
  background-color: #242422;
  margin-top: 0;
  border: none;
}
.tab-content,
pre[class*="language-"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
