text-field, select-field, checkbox-field {
  margin-bottom: 5px;
}
radio-field {
  margin-right: 5px;
}

.btn-and-tooltip-group {
  position: relative;
  display: inline-block;
}
.btn-and-tooltip-group .tooltip {
  position: relative;
  display: inline-block;
  line-height: 1em;
  margin-top: -.5em;
  z-index: 1;
}
.btn-and-tooltip-group .tooltip.right .tooltip-arrow {
  border-right-color: #1898cb;
}
.btn-and-tooltip-group .tooltip .tooltip-inner {
  background-color: #1898cb;
  text-shadow: none;
}
.btn-and-tooltip-group .tooltip:hover {
  text-decoration: none;
}
.btn-and-tooltip-group .btn {
  background-color: rgba(255,255,255,.2);
  text-shadow: none;
  color: white;
}
.btn-and-tooltip-group .btn:hover {
  background-color: rgba(255,255,255,.3);
}
.btn-and-tooltip-group .tooltip.right:hover .tooltip-arrow {
  border-right-color: #1090c4;
}
.btn-and-tooltip-group .tooltip:hover .tooltip-inner {
  background-color: #1090c4;
}

.btn-and-tooltip-group a {
  color: #dfd7ca;
}
.btn-and-tooltip-group a .fa {
  color: white;
  margin-right: 5px;
}
.btn-and-tooltip-group a:hover {
  color: white;
}

.header-splash-area-background {
  background-color: #1baae3;
  height: 300px;
  margin-bottom: 20px;
}
.header-splash-area-table {
  display: table;
  height: 100%;
}
.header-splash-area-cell {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  background-image: url(../images/form-for-header.svg);
  background-size: auto 250px;
  background-position: left bottom;
  background-repeat: no-repeat;
  padding-left: 30%;
  color: white;
  text-shadow: 1px 1px rgba(0,0,0,.25);
}
.header-main-text {
  font-size: 45px;
  margin: 0 0 15px;
}
.header-sub-text {
  font-size: 18px;
  margin: 0 0 15px;
}
.header-sub-text em {
  font-weight: bold;
  font-style: italic;
}

@media (max-width : 992px) {
  .header-splash-area-background {
    height: 250px;
  }
  .header-splash-area-cell {
    background-size: auto 200px;
  }
  .header-main-text {
    font-size: 35px;
    margin: 0 0 10px;
  }
  .header-sub-text {
    font-size: 14px;
    margin: 0 0 10px;
  }
}
@media (max-width : 775px) {
  .header-splash-area-background {
    height: 150px;
  }
  .header-splash-area-cell {
    background-image: none;
    padding-left: 0;
    text-align: center;
  }
}
@media (max-width : 768px) {
  .navbar-search-form {
    display: none;
  }
}
@media (max-width : 475px) {
  .header-sub-text {
    font-size: 12px;
  }
}
@media (max-width : 400px) {
  .header-main-text {
    font-size: 25px;
  }
  .watch-group {
    display: none;
  }
}

.header-padding {
  height: 50px;
}
@media screen and (max-width: 767px) {
  .header-padding {
    height: 50px;
  }
}

.navbar .nav > li > a .fa {
  color: #CCB;
}
.navbar .nav > li:hover > a .fa {
  color: white;
}

.navbar-search {
  width: 150px !important;
}

.navbar-brand {
  white-space: nowrap;
}
.nav-header-logo {
  height: 30px;
  margin-top: -3px;
  margin-right: 5px;
}

.image-header-table {
  margin: 10px 0 20px;
}

ul.nav li.dropdown:hover {
  cursor: pointer;
}

a {
  color: #325d88;
}
a:hover {
  color: #244363;
}

.nav-tabs.nav-justified > li > a {
  background-color: #3e3f3a;
  color: #FFF;
  border: none;
  cursor: pointer;
  user-select: none;
}
.nav-tabs.nav-justified > li {
  padding: 0 1px;
}
.nav-tabs.nav-justified > li:first-of-type {
  padding-left: 0;
}
.nav-tabs.nav-justified > li:last-of-type {
  padding-right: 0;
}
.nav-tabs.nav-justified > li > a:hover {
  background-color: #393a35;
  border: none;
}
.nav-tabs.nav-justified > .active > a,
.nav-tabs.nav-justified > .active > a:hover {
  background-color: #242422;
  color: #FFF;
  border: none;
}

@media (max-width: 768px) {
  .nav-tabs.nav-justified > li {
    padding: 0;
  }
}

pre[class*="language-"] {
  background-color: #242422;
  margin-top: 0;
  border: none;
}
.tab-content,
pre[class*="language-"] {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#toast-container {
  position: fixed;
  top: 85px;
  right: 25px;
  z-index: 2000;
}
#toast-container .toast {
  padding: 15px;
  margin-bottom: 25px;
  border-radius: 5px;
}
#toast-container .toast.toast-success {
  background-color: #93c54b;
  color: #FFFFFF;
}
#toast-container .toast.toast-info {
  background-color: #29abe0;
  color: #FFFFFF;
}
#toast-container .toast.toast-error {
  background-color: #d9534f;
  color: #FFFFFF;
}
#toast-container .toast.toast-warning {
  background-color: #f47c3c;
  color: #FFFFFF;
}

disable-field-button,
reset-field-button,
validate-field-button {
  display: inline-block;
  margin-right: 1px;
  float: right;
  position: relative;
  z-index: 2;
}

.template-toggler {
}
.template-toggler .template-toggler-link {
  color: #0075ba;
  font-weight: bold;
  cursor: pointer;
  text-decoration: underline;
}
.template-toggler .template-toggler-link:hover {
  text-decoration: none;
}

a {
  font-weight: 500;
}
