<md-checkbox md-no-ink
             class="md-primary"
             aria-label="{{label}}"
             ng-disabled="disable || model.disabled"
             ng-model="model.bindable">

  {{label}}

  <field-label  ng-if="label"
                input-uid="{{model.uid}}"
                iud="{{model.uid}}-label"
                label="{{label}}"
                help="{{help}}"
                required="{{model.required}}">
  </field-label>

  <field-error  error="model.error"
                left-aligned="true"
                uid="{{model.uid}}-error">
  </field-error>
</md-checkbox>