<md-input-container>
  <label ng-if="label"
         ng-bind="label"></label>

  <input  ng-if="!multiline"
          aria-manager
          id="{{model.uid}}"
          name="{{attribute}}"
          type="{{type}}"
          tabindex="{{tabIndex}}"
          ng-model="model.bindable"
          ng-disabled="disable || model.disabled"
          ng-click="onFocus()"
          ng-blur="onBlur()"
          min="{{validationRules.minimum}}"
          max="{{validationRules.maximum}}"
          step="{{validationRules.increment}}" />

  <textarea ng-if="multiline"
            aria-manageraria-manager
            id="{{model.uid}}"
            name="{{attribute}}"
            class="form-control"
            ng-disabled="disable || model.disabled"
            tabindex="{{tabIndex}}"
            rows="{{rows}}"
            ng-model="model.bindable"
            ng-click="onFocus()"
            ng-blur="onBlur()">
  </textarea>

  <field-error ng-messages
               uid="{{model.uid}}-error"
               error="model.error"></field-error>
</md-input-container>