field-error {
  display: block;

  // formFor fieldError isn't nested inside of an mdInputContainer and so doesn't inherit the styles.
  // These are the relevant ones though...
  .text-danger {
    font-size: 12px;
    line-height: 24px;
    color: rgb(244, 67, 54);
  }
}