<div  class="field checkbox-field"
      ng-class="{disabled: disable || model.disabled, 'has-error': model.error}">

  <field-error error="model.error" left-aligned="true"></field-error>

  <label>
    <input  type="checkbox" class="field-input"
            tabindex="{{tabIndex}}"
            ng-model="model.bindable"
            ng-disabled="disable || model.disabled">

    <span class="checkbox-field-input" ng-class="{'is-checked': model.bindable}"></span>

    <field-label  ng-if="label"
                  label="{{label}}"
                  help="{{help}}"
                  ng-click="toggle()">
    </field-label>
  </label>
</div>
