<div  class="field select-field"
      ng-class="{ 'direction-down': !dropUp,
                  'direction-up': dropUp,
                  'disabled': disable || model.disabled,
                  'has-error': model.error,
                  'open': isOpen }">

  <field-label  ng-if="label"
                label="{{label}}"
                help="{{help}}"
                required="{{model.required}}">
  </field-label>

  <field-error error="model.error"></field-error>

  <button class="select-field-toggle-button"
          tabindex="{{tabIndex}}"
          ng-keydown="keyDown($event)"
          ng-class="{open: isOpen, disabled: disable || model.disabled}"
          ng-click="$event.preventDefault();"
          ng-disabled="disable || model.disabled">

    <span ng-if="selectedOptionLabel" ng-bind="selectedOptionLabel"></span>

    <span ng-if="!selectedOptionLabel">
      <span ng-if="placeholder" ng-bind="placeholder"></span>
      <span ng-if="!placeholder">Select</span>
    </span>

    <span class="fa fa-caret-down pull-right select-field-toggle-caret"></span>
  </button>

  <div ng-show="isOpen" class="select-field-list-container">
    <div class="select-field-list">
      <div  ng-show="enableFiltering" class="input-group filter-input-group"
            ng-click="$event.stopPropagation()">
        <input  type="text"
                class="text-field-input filter-text-input"
                tabindex="{{tabIndex}}"
                ng-model="filter"
                ng-keydown="keyDown($event)"
                form-for-debounce="{{filterDebounce}}" />

        <span class="input-group-addon input-group-addon-after">
          <i class="fa fa-search text-field-icon"></i>
        </span>
      </div>

      <div class="select-field-list-scrollable">
        <span class="select-field-list-item"
              ng-repeat="option in filteredOptions"
              ng-value="option[valueAttribute]"
              ng-click="selectOption(option)"
              ng-mouseenter="mouseOver($index)"
              ng-class="{ active: option[valueAttribute] === selectedOption[valueAttribute],
                          hover: $index === mouseOverIndex}">

          <!-- Bootstrap leaves us no way to style a non-:hover element so we fall back to <strong> -->
          <strong ng-if="$index === mouseOverIndex" ng-bind="option[labelAttribute]"></strong>
          <span ng-if="$index !== mouseOverIndex" ng-bind="option[labelAttribute]"></span>
          <spgn ng-if="!option[labelAttribute]">&nbsp;</spgn> <!-- Gracefully handle empty/null names -->
        </span>

        <span ng-if="!options" class="select-field-list-item"
              ng-include src="'form-for/templates/select-field-loading-indicator.html'"></span>
      </div>
    </div>
  </div>
</div>
