<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a ui-sref="app.index" class="navbar-brand">
        <span class="hidden-sm">
          form-for
        </span>
        <span class="visible-sm">
          form-for
        </span>
      </a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <!-- TODO Mobile nav -->
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">
            Demos
            <i class="fa fa-caret-down"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="themes">
            <li><a ui-sref="app.formBuilderMarkup">Form Builder</a></li>
            <li><a ui-sref="app.manualFormMarkup">Manual Form Markup</a></li>
            <li><a ui-sref="app.selectField">Select Fields</a></li>
            <li><a ui-sref="app.typeAhead">Type Aheads</a></li>
            <li><a ui-sref="app.collectionsForm">Collections</a></li>
            <li><a ui-sref="app.formMetadata">Form Metadata</a></li>
            <li><a ui-sref="app.dynamicIcons">Dynamic Icons</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">
            Guides
            <i class="fa fa-caret-down"></i>
          </a>
          <ul class="dropdown-menu" aria-labelledby="themes">
            <li><a ui-sref="app.overview">Overview</a></li>
            <li><a ui-sref="app.inputTypes">Input Types</a></li>
            <li><a ui-sref="app.validationTypes">Validation Rules</a></li>
            <li><a ui-sref="app.formBuilder">Form Builder</a></li>
            <li><a ui-sref="app.templateOverrides">Templates and Overrides</a></li>
            <li><a ui-sref="app.ie8Support">IE8 Support</a></li>
          </ul>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>
          <a ui-sref="app.documentation.index">
            <span class="hidden-sm">
              Documentation
              <i class="fa fa-book"></i>
            </span>
            <span class="visible-sm">
              Docs
              <i class="fa fa-book"></i>
            </span>
          </a>
        </li>
        <li><a href="//github.com/bvaughn/angular-form-for" target="_blank">Code <i class="fa fa-code"></i></a></li>
        <li><a href="//github.com/bvaughn/angular-form-for/issues" target="_blank">Issues <i class="fa fa-bug"></i></a></li>
      </ul>
    </div>
  </div>
</div>

<div class="header-padding"></div>

<div ui-view></div>
