<div class="form-for-field" ng-class="{'invalid': model.error}">
  <field-label  ng-if="label"
                input-uid="{{uid}}"
                label="{{label}}"
                label-class="{{labelClass}}"
                help="{{help}}">
  </field-label>

  <field-error  error="model.error"
                left-aligned="true"
                uid="{{uid}}-error">
  </field-error>

  <label ng-repeat="option in options track by $index">
    <input  aria-manager
            id="{{uid}}-{{$index}}"
            type="radio"
            name="{{attribute}}"
            tabindex="{{tabIndex}}"
            ng-model="model.bindable"
            ng-value="option[valueAttribute]"
            ng-disabled="disable || model.disabled">

    <span ng-bind-html="option[labelAttribute]"></span>
  </label>
</div>