<div class="form-for-field with-icon-after" ng-class="{'invalid': model.error}">
  <field-label  ng-if="label"
                input-uid="{{model.uid}}"
                iud="{{model.uid}}-label"
                label="{{label}}"
                help="{{help}}"
                required="{{model.required}}">
  </field-label>

  <field-error uid="{{model.uid}}-error" error="model.error"></field-error>

  <span ng-if="multiple"
        ng-include
        src="'form-for/templates/select-field/_multi-select.html'"></span>

  <span ng-if="!multiple"
        ng-include
        src="'form-for/templates/select-field/_select.html'"></span>
</div>
