<div  class="field select-field"
      ng-class="{ 'disabled': disable || model.disabled,
                  'has-error': model.error,
                  'open': isOpen }">

  <field-label  ng-if="label"
                input-uid="{{model.uid}}"
                iud="{{model.uid}}-label"
                label="{{label}}"
                help="{{help}}"
                required="{{model.required}}">
  </field-label>

  <field-error  error="model.error"
                uid="{{model.uid}}-error">
  </field-error>

  <!-- Filtered dropdowns use a type-ahead style component -->
  <div ng-show="enableFiltering" class="text-field-input-wrapper">
    <input  aria-manager filter-text-input
            id="{{model.uid}}"
            type="text" class="select-field-filter-text-input"
            tabindex="{{tabIndex}}"
            placeholder="{{placeholder}}"
            ng-disabled="disable || model.disabled"
            ng-model="filter"
            ng-focus="open()"
            ng-keydown="keyDown($event)">

    <span class="text-field-input-icon text-field-input-icon-after" toggle-button>
      <i class="text-field-icon caret"></i>
    </span>

    <div  ng-show="isOpen"
          class="select-field-list-container">
      <ul class="select-field-list" ng-class="{show: isOpen}">
        <li ng-repeat="option in filteredOptions"
            class="select-field-list-item"
            ng-class="{ active: option === selectedOption,
                        hover: $index === mouseOverIndex}"
            ng-bind="option[labelAttribute]"
            ng-click="selectOption(option)"
            ng-mouseenter="mouseOver($index)">
        </li>
      </ul>
    </div>
  </div>

  <!-- Unfiltered dropdowns use a regular [Bootstrap] select -->
  <div ng-if="!enableFiltering" class="select-field-wrapper">
    <select aria-manager
            id="{{model.uid}}"
            class="select-field-select"
            tabindex="{{tabIndex}}"
            placeholder="{{placeholder}}"
            ng-disabled="disable || model.disabled"
            ng-model="model.bindable"
            ng-options="option[valueAttribute] as option[labelAttribute] for option in filteredOptions">
    </select>
  </div>
</div>
