<form form-for="formData" validation-rules="validationRules" submit-with="submit(data)">

  <text-field label="Name" attribute="name" placeholder="My name is..."></text-field>

  <collection-label attribute="hobbies" label="My Hobbies" help="Hobbies are things you enjoy doing">
  </collection-label>

  <div class="btn btn-primary" ng-click="addHobby()">
    Add
    <i class="fa fa-plus"></i>
  </div>

  <ul class="list-unstyled">
    <li ng-repeat="hobby in formData.hobbies">
      <text-field label="Name" attribute="hobbies[{{$index}}].name"
                  placeholder="What exactly is it..that you say..you do here?"
                  icon-after="fa fa-times" icon-after-clicked="removeHobby(hobby)">
      </text-field>

      <select-field label="How often do you participate in this hobby"
                    attribute="hobbies[{{$index}}].frequency"
                    options="hobbyFrequencyOptions"
                    allow-blank>
      </select-field>

      <label>Is this a paid hobby?</label>
      <radio-field label="Yup" attribute="hobbies[{{$index}}].paid" value="true"></radio-field>
      <radio-field label="I wish" attribute="hobbies[{{$index}}].paid" value="false"></radio-field>

      <checkbox-field label="Would you recommend this hobby to a friend?"
                      attribute="hobbies[{{$index}}].recommend">
      </checkbox-field>
    </li>
  </ul>

  <submit-button label="Sign Up"></submit-button>
</form>
