<p class="alert alert-info">
  The right-aligned buttons demonstrate how you can disable individual input controls with formFor.
</p>

<form form-for="ctrl.formData"
      validation-rules="ctrl.validationRules"
      submit-with="ctrl.submit(data)"
      validate-on="ctrl.formData.validateOn"
      controller="ctrl.formController"
      valid="ctrl.formIsValid"
      disable="ctrl.formIsDisabled">

  <div class="well">
    <radio-field label="Validate this form on.."
                 attribute="validateOn"
                 options="ctrl.validateOptions"
                 disable="ctrl.ctrl.disableRadio">
    </radio-field>
  </div>

  <span class="btn btn-xs btn-default set-field-error-button" ng-click="ctrl.setFieldError()">Set Custom Error</span>
  <reset-field-button form-controller="ctrl.formController" field-name="plainText"></reset-field-button>
  <validate-field-button form-controller="ctrl.formController" field-name="plainText"></validate-field-button>
  <disable-field-button is-disabled="ctrl.disablePlainText"></disable-field-button>
  <text-field attribute="plainText" disable="ctrl.disablePlainText"
              focused="ctrl.onFocus()" blurred="ctrl.onBlur()" label="Plain Text ({{ctrl.focused ? 'focused' : 'blurred'}})"
              icon-after="{pristine: 'fa fa-user', invalid: 'fa fa-times', valid: 'fa fa-check'}">
  </text-field>

  <reset-field-button form-controller="ctrl.formController" field-name="password"></reset-field-button>
  <validate-field-button form-controller="ctrl.formController" field-name="password"></validate-field-button>
  <disable-field-button is-disabled="ctrl.disablePassword"></disable-field-button>
  <text-field attribute="password" type="password" disable="ctrl.disablePassword"></text-field>

  <reset-field-button form-controller="ctrl.formController" field-name="checkSomething"></reset-field-button>
  <validate-field-button form-controller="ctrl.formController" field-name="checkSomething"></validate-field-button>
  <disable-field-button is-disabled="ctrl.disableCheckbox"></disable-field-button>
  <checkbox-field attribute="checkSomething" disable="ctrl.disableCheckbox"></checkbox-field>

  <reset-field-button form-controller="ctrl.formController" field-name="selectSomething"></reset-field-button>
  <validate-field-button form-controller="ctrl.formController" field-name="selectSomething"></validate-field-button>
  <disable-field-button is-disabled="ctrl.disableSelect"></disable-field-button>
  <select-field allow-blank attribute="selectSomething" options="options" disable="ctrl.disableSelect"></select-field>

  <fieldset>
    <reset-field-button form-controller="ctrl.formController" field-name="gender"></reset-field-button>
    <validate-field-button form-controller="ctrl.formController" field-name="gender"></validate-field-button>
    <disable-field-button is-disabled="ctrl.disableRadio"></disable-field-button>
  </fieldset>

  <disable-field-button is-disabled="ctrl.disableButton"></disable-field-button>
  <submit-button label="Sign Up" button-class="btn btn-primary" disable="ctrl.disableButton"></submit-button>
</form>

<br/>

<p class="alert alert-info">
  The following grid shows some of the additional bindable interactions you can setup with formFor.
</p>

<ul class="list-inline">
  <li>
    Is form disabled?
    <strong>{{ctrl.formIsDisabled ? 'Yes' : 'No'}}</strong>
  </li>
  <li>
    <button class="btn"
            ng-class="{'btn-default': !ctrl.formIsDisabled, 'btn-danger': ctrl.formIsDisabled}"
            ng-click="ctrl.formIsDisabled = !ctrl.formIsDisabled">
      {{ctrl.formIsDisabled ? 'Enable' : 'Disable'}} form
    </button>
  </li>
  <li>
    <button class="btn btn-default"
            ng-click="ctrl.formController.resetErrors()">
      Clear validation errors
    </button>
  </li>
  <li>
    <button class="btn btn-default"
            ng-click="ctrl.manuallyTriggerValidations()">
      Validate Form
    </button>
  </li>
  <li>
    <button class="btn btn-default"
            ng-click="ctrl.manuallyTriggerValidations(true)">
      Validate Form (show errors)
    </button>
  </li>
  <li>
    <button class="btn"
            ng-class="{'btn-default': !ctrl.autoTrimIsEnabled, 'btn-danger': ctrl.autoTrimIsEnabled}"
            ng-click="ctrl.toggleAutoTrim()">
      {{ctrl.autoTrimIsEnabled ? 'Disable' : 'Enable'}} auto-trim
    </button>
  </li>
</ul>
