<p class="alert alert-info">
  The right-aligned buttons demonstrate how you can disable individual input controls with formFor.
</p>

<form form-for="formData" validation-rules="validationRules" submit-with="submit(data)"
      controller="formController" valid="formIsValid" disable="formIsDisabled">

  <reset-field-button form-controller="formController" field-name="plainText"></reset-field-button>
  <validate-field-button form-controller="formController" field-name="plainText"></validate-field-button>
  <disable-field-button is-disabled="disablePlainText"></disable-field-button>
  <text-field attribute="plainText" disable="disablePlainText"></text-field>

  <reset-field-button form-controller="formController" field-name="password"></reset-field-button>
  <validate-field-button form-controller="formController" field-name="password"></validate-field-button>
  <disable-field-button is-disabled="disablePassword"></disable-field-button>
  <text-field attribute="password" type="password" disable="disablePassword"></text-field>

  <reset-field-button form-controller="formController" field-name="checkSomething"></reset-field-button>
  <validate-field-button form-controller="formController" field-name="checkSomething"></validate-field-button>
  <disable-field-button is-disabled="disableCheckbox"></disable-field-button>
  <checkbox-field attribute="checkSomething" disable="disableCheckbox"></checkbox-field>

  <reset-field-button form-controller="formController" field-name="selectSomething"></reset-field-button>
  <validate-field-button form-controller="formController" field-name="selectSomething"></validate-field-button>
  <disable-field-button is-disabled="disableSelect"></disable-field-button>
  <select-field attribute="selectSomething" options="options" disable="disableSelect"></select-field>

  <fieldset>
    <reset-field-button form-controller="formController" field-name="gender"></reset-field-button>
    <validate-field-button form-controller="formController" field-name="gender"></validate-field-button>
    <disable-field-button is-disabled="disableRadio"></disable-field-button>
    <radio-field value="left" attribute="gender" disable="disableRadio"></radio-field>
    <radio-field value="right" attribute="gender" disable="disableRadio"></radio-field>
  </fieldset>

  <disable-field-button is-disabled="disableButton"></disable-field-button>
  <submit-button label="Sign Up" button-class="btn btn-primary" disable="disableButton"></submit-button>
</form>

<br/>

<p class="alert alert-info">
  The following grid shows some of the additional bindable interactions you can setup with formFor.
</p>

<ul class="list-inline">
  <li>
    Is form disabled?
    <strong>{{formIsDisabled ? 'Yes' : 'No'}}</strong>
  </li>
  <li>
    <button class="btn"
            ng-class="{'btn-default': !formIsDisabled, 'btn-danger': formIsDisabled}"
            ng-click="formIsDisabled = !formIsDisabled">
      {{formIsDisabled ? 'Enable' : 'Disable'}} form
    </button>
  </li>
  <li>
    <button class="btn btn-default"
            ng-click="formController.resetErrors()">
      Clear validation errors
    </button>
  </li>
  <li>
    <button class="btn btn-default"
            ng-click="manuallyTriggerValidations()">
      Manually Validate Form
    </button>
  </li>
</ul>
