<span>
  <div ng-if="label" class="md-caption">
    {{label}}

    <md-tooltip ng-if="help" md-direction="right">{{help}}</md-tooltip>
  </div>

  <md-select ng-model="model.bindable"
             ng-disabled="disable || model.disabled"
             placeholder="{{placeholder}}"
             md-autoselect="!preventDefaultOption"
             multiple>

    <md-option ng-repeat="option in bindableOptions"
               ng-value="{{option.value}}">
      {{option.label}}
    </md-option>
  </md-select>
</span>