<span>
  <span ng-if="label" class="md-caption">
    {{label}}

    <md-tooltip ng-if="help" md-direction="right">{{help}}</md-tooltip>
  </span>

  <div>
    <md-select ng-model="model.bindable"
               ng-disabled="disable || model.disabled"
               placeholder="{{model.bindable ? '' : placeholder}}"
               md-autoselect="!preventDefaultOption"
               multiple>

      <md-option ng-repeat="option in options"
                 ng-value="option[valueAttribute]">
        {{option[labelAttribute]}}
      </md-option>
    </md-select>
  </div>
</span>