<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>JSDoc: <?js= title ?></title>

    <script src="scripts/prettify/prettify.js"> </script>
    <script src="scripts/prettify/lang-css.js"> </script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link type="text/css" rel="stylesheet" href="styles/prettify-tomorrow.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="styles/jsdoc-default.css">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.2.0/sandstone/bootstrap.min.css">-->
</head>

<body>

<div id="main">
  <h1 class="page-title"><?js= title ?></h1>

  <?js= content ?>
</div>

<nav>
  <ul class="list-group">
    <?js= this.nav ?>
  </ul>
</nav>

<br clear="both">

<footer>
  For more information visit <a href="http://bvaughn.github.io/angular-form-for/" target="_blank">http://bvaughn.github.io/angular-form-for/</a>.
</footer>

<script> prettyPrint(); </script>
<script src="scripts/linenumber.js"> </script>
</body>
</html>
