<div  class="field radio-field"
      ng-class="{disabled: disable || disabledByForm, 'has-error': error}">

  <p ng-if="error" class="text-danger field-error left-aligned" ng-bind="error"></p>

  <label>
    <div  class="radio-field-input" ng-class="{'is-selected': model.bindable === value}"
          ng-click="click()"></div>

    <input  type="radio" ng-model="model.bindable" ng-value="value"
            class="field-input"
            ng-disabled="disable || disabledByForm">

    <field-label  ng-if="label" label="{{label}}" help="{{help}}"
                  ng-click="click()"></field-label>
  </label>
</div>
