<span class="field radio-field"
      ng-class="{disabled: disable || model.disabled, 'has-error': model.error}">

  <field-error error="model.error" left-aligned="true"></field-error>

  <label>
    <span  class="radio-field-input" ng-class="{'is-selected': checked}"
          ng-click="click()"></span>

    <input  type="radio" ng-model="model.bindable" ng-value="value"
            class="field-input"
            ng-checked="checked"
            ng-disabled="disable || model.disabled">

    <field-label  ng-if="label"
                  label="{{label}}"
                  help="{{help}}"
                  ng-click="click()">
    </field-label>
  </label>
</span>
