<div  class="form-group field select-field"
      ng-class="{disabled: disable || disabledByForm, 'has-error': error}">

  <field-label ng-if="label" label="{{label}}" help="{{help}}"></field-label>

  <p ng-if="error" class="text-danger field-error" ng-bind="error"></p>

  <div class="input-group">
    <div class="dropdown">
      <a class="btn btn-default select-field-toggle-button" role="button" data-toggle="dropdown">
        <span ng-if="selectedOptionLabel" ng-bind="selectedOptionLabel"></span>
        <span ng-if="!selectedOptionLabel">
          <span ng-if="placeholder" ng-bind="placeholder"></span>
          <span ng-if="!placeholder">Select</span>
        </span>

        <span class="caret"></span>
      </a>

      <ul class="dropdown-menu select-field-dropdown-list-container" role="menu">
        <li ng-if="allowBlank" ng-click="selectOption()">&nbsp;</li>

        <li ng-repeat="option in options"
            ng-class="{'selected': option === selectedOption}">

          <a ng-click="selectOption(option)">
            <span ng-class="{'text-primary': option === selectedOption}"
                  ng-bind="option.label"></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
