<div class="field select-field" ng-class="{disabled: disable || disabledByForm}">
  <field-label ng-if="label" label="{{label}}" help="{{help}}"></field-label>

  <div  class="select-field-toggle-button"
        ng-class="{'has-error': error, open: isOpen, 'blank-selected': !selectedOptionLabel, disabled: disable || disabledByForm}">

    <div ng-if="selectedOptionLabel" ng-bind="selectedOptionLabel" />

    <div ng-if="!selectedOptionLabel">
      <div ng-if="placeholder" ng-bind="placeholder" />
      <div ng-if="!placeholder">Select</div>
    </div>
  </div>

  <div class="select-field-dropdown-list-container" ng-show="isOpen">
    <ul class="unstyled select-field-dropdown-list">
      <li ng-if="allowBlank" ng-click="selectOption()">&nbsp;</li>

      <li ng-repeat="option in options"
          ng-value="option.value"
          ng-click="selectOption(option)"
          ng-bind="option.label"
          ng-class="{selected: option === selectedOption}"></li>
    </ul>
  </div>

  <div class="field-error" ng-if="error" ng-bind-html="error" />
</div>
