<div  class="form-group field select-field"
      ng-class="{disabled: disable || disabledByForm, open: isOpen, 'has-error': error}">

  <field-label ng-if="label" label="{{label}}" help="{{help}}"></field-label>

  <p ng-if="error" class="text-danger field-error" ng-bind="error"></p>

  <div class="input-group">
    <div  class="btn btn-default select-field-toggle-button" role="button" data-toggle="dropdown"
          ng-class="{open: isOpen, disabled: disable || disabledByForm}">
      <span ng-if="selectedOptionLabel" ng-bind="selectedOptionLabel"></span>

      <span ng-if="!selectedOptionLabel">
        <span ng-if="placeholder" ng-bind="placeholder"></span>
        <span ng-if="!placeholder">Select</span>
      </span>

      <span class="caret"></span>
    </div>
  </div>

  <div ng-show="isOpen" class="unstyled select-field-dropdown-list-container">
    <ul class="unstyled select-field-dropdown-list" role="menu">
      <li ng-if="allowBlank" ng-click="selectOption()">&nbsp;</li>

      <li ng-repeat="option in options"
          ng-value="option.value"
          ng-click="selectOption(option)"
          ng-bind="option.label"
          ng-class="{selected: option === selectedOption}"></li>
    </ul>
  </div>
</div>
