<div  class="form-group field text-field"
      ng-class="{disabled: disable || disabledByForm, 'has-error': error}">

  <field-label ng-if="label" label="{{label}}" help="{{help}}"></field-label>

  <p ng-if="error" class="text-danger field-error" ng-bind="error"></p>

  <div class="input-group">
    <span ng-if="iconBefore" class="input-group-addon input-group-addon-before">
      <i class="text-field-icon" ng-class="iconBefore"></i>
    </span>

    <input  ng-if="!multiline"
            type="{{type}}"
            class="form-control text-field-input"
            ng-class="{'has-icon-before': iconBefore, 'has-icon-after': iconAfter}"
            ng-disabled="disable || disabledByForm"
            placeholder="{{placeholder}}"
            ng-model="model.bindable"
            form-for-debounce="{{debounce}}" />


    <textarea ng-if="multiline"
              class="form-control text-field-input"
              ng-class="{'has-icon-before': iconBefore, 'has-icon-after': iconAfter}"
              ng-disabled="disable || disabledByForm"
              placeholder="{{placeholder}}"
              ng-model="model.bindable"
              form-for-debounce="{{debounce}}">
    </textarea>

    <span ng-if="iconAfter" class="input-group-addon input-group-addon-after">
      <i class="text-field-icon" ng-class="iconAfter"></i>
    </span>
  </div>
</div>
