<label class="field text-field" ng-class="{disabled: disable || disabledByForm}">
  <span field-label ng-if="label" label="{{label}}" help="{{help}}"></span>

  <div class="text-field-input-icon-wrapper">
    <input  ng-if="!multiline"
            type="{{type}}"
            class="text-field-input" ng-class="{'has-error': error, 'has-icon': icon}"
            ng-disabled="disable || disabledByForm"
            placeholder="{{placeholder}}"
            ng-model="model.bindable"
            form-for-debounce="{{debounce}}" />

    <textarea ng-if="multiline"
              class="text-field-input" ng-class="{'has-error': error, 'has-icon': icon}"
              ng-disabled="disable || disabledByForm"
              placeholder="{{placeholder}}"
              ng-model="model.bindable"
              form-for-debounce="{{debounce}}">
    </textarea>

    <i ng-if="icon" class="text-field-icon" ng-class="icon"></i>
  </div>

  <div class="field-error" ng-if="error" ng-bind-html="error"></div>
</label>
