<div  class="form-group field type-ahead-field"
      ng-class="{disabled: disable || model.disabled, 'has-error': model.error}">

  <field-label  ng-if="label"
                label="{{label}}"
                help="{{help}}"
                required="{{model.required}}">
  </field-label>

  <field-error error="model.error"></field-error>

  <input  type="text"
          tabindex="{{tabIndex}}"
          class="form-control type-ahead-field-input"
          placeholder="{{placeholder}}"
          ng-model="model.selectedOption"
          ng-change="changeHandler()"
          typeahead="option as option[labelAttribute] for option in filteredOptions"
          typeahead-wait-ms="debounce || 1000">
</div>
