@require '_mixins';
@require '_variables';

select-field {
  display: block;
}

/************************* Select *************************/

.form-for-field {
  select {
    @extend $form-for-input

    background: linear-gradient(top, white, $color-fill-2);
    padding-right: 30px;

    &:focus {
      background: white;
      outline: none;
      border-color: $border-color-focused;
      box-shadow: $box-shadow-focused;
    }

    &:disabled {
      opacity: $opacity-disabled;
      pointer-events: none;

      +[c-field--select-arrows] {
        opacity: $opacity-disabled;
      }
    }
  }

  &.invalid select {
    border-color: red;

    &:focus {
      box-shadow: $box-shadow-error-focused;
    }
  }

  .form-for-select-arrows:after {
    display: block;
    position: absolute;
    right: 5px;
    bottom: 0;
    width: 20px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    font-style: normal;
    content: "\f0dc";
    font-family: FontAwesome;
    color: $color-text-1;
    pointer-events: none;
  }
}

@-moz-document url-prefix() {
  .form-for-select-arrows {
    display: none; // Fix Firefox double arrows
  }
}

/************************* Typeahead *************************/

.form-for-field {
  input[type="search"] {
    @extend $form-for-input

    box-shadow: inset 0 1px 4px rgba(0,0,0, 0.15);

    +ul {
      display: none; // Hidden until focused
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      z-index: 4; // Needs to be higher than .has-error
      padding: 0;
      margin: 0;
      list-style: none;
      background-color: white;
      border: $border;
      border-color: $border-color-focused;
      border-radius: $border-radius;
      border-top: none;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
      box-sizing: border-box;
      overflow: auto;
    }

    &:focus {
      border-color: $border-color-focused;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
      box-shadow: $box-shadow-focused;

      +ul {
        display: block;

        li {
          padding: 6px 9px;

          strong {
            font-weight: inherit;
          }

          &.form-for-typeahead-list-item-active {
            font-weight: 600;
          }

          &.form-for-typeahead-list-item-hover,
          &:hover {
            background-color: light-blue;
          }
        }
      }
    }
  }

  &.invalid input[type="search"],
  input[type="search"]:invalid {
    border-color: red;

    +ul {
      border-color: red;
    }
  }
}
