@import 'nib';
@require '_variables';

submit-field {
  display: block;
}

.submit-button {
  user-select: none;

  transition: $transition;

  border-radius: $border-radius;
  border-style: none;
  background-color: blue;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: inherit;
  font-weight: 400;
  line-height: 35px;
  outline: 0;
  padding: 0 25px;
  white-space: nowrap;

  &:not(.disabled):not(:disabled) {
    &:hover, &:active, &:focus {
      background-color: lighten(blue, 5%);
      color: white;
    }
  }

  &:active {
    transition: none;

    box-shadow: inset 0 4px 2px rgba(0,0,0, 0.1);
  }

  &.disabled,
  &:disabled {
    opacity: .5;
    cursor: default;
    box-shadow: none;
  }
}

.submit-button-icon {
  margin-right: 5px;
}
