<h1>Advanced form</h1>

<p>
This is a advanced demo of the Angular formFor library version 1.1.11.
</p>

<tabset justified="true">
  <tab heading="Demo">
    <div class="tab-content well" ng-include="'app/demos/advanced-form.html'"></div>
  </tab>
  <tab heading="HTML">
    <prism class="tab-content" source="app/demos/advanced-form.html"></prism>
  </tab>
  <tab heading="JavaScript">
    <prism class="tab-content" parser="javascript" source="app/demos/advanced-form.js"></prism>
  </tab>
</tabset>
