<div class="container">
  <h1>Form collections</h1>

  <p>
  This is a demo of managing collections (on-to-many relationships) with the Angular formFor library version 1.2.7.
  </p>

  <div ng-include="'app/views/_parse-warning.html'"></div>

  <tabset justified="true">
    <tab>
      <tab-heading>Demo <i class="fa fa-eye"></i></tab-heading>
      <div class="tab-content well" ng-include="'app/demos/collections.html'"></div>
    </tab>
    <tab>
      <tab-heading>HTML Source <i class="fa fa-html5"></i></tab-heading>
      <prism class="tab-content" source="app/demos/collections.html"></prism>
    </tab>
    <tab>
      <tab-heading>JS Source <i class="fa fa-code"></i></tab-heading>
      <prism class="tab-content" parser="javascript" source="app/demos/collections.js"></prism>
    </tab>
  </tabset>
</div>
