<h1>Form collections</h1>

<p>
This is a demo of managing collections (on-to-many relationships) with the Angular formFor library version 1.2.2.
</p>

<tabset justified="true">
  <tab heading="Demo">
    <div class="tab-content well" ng-include="'app/demos/collections.html'"></div>
  </tab>
  <tab heading="HTML">
    <prism class="tab-content" source="app/demos/collections.html"></prism>
  </tab>
  <tab heading="JavaScript">
    <prism class="tab-content" parser="javascript" source="app/demos/collections.js"></prism>
  </tab>
</tabset>
