<div class="container">
  <h1>Dynamic Dropdowns</h1>

  <p>
  This is a advanced demo of the Angular formFor library version 1.2.8.
  This demo illustrates various drop-down menus with filtering.
  </p>

  <tabset justified="true">
    <tab>
      <tab-heading>Demo <i class="fa fa-eye"></i></tab-heading>
      <div class="tab-content well" ng-include="'app/demos/dynamic-dropdowns.html'"></div>
    </tab>
    <tab>
      <tab-heading>HTML Source <i class="fa fa-html5"></i></tab-heading>
      <prism class="tab-content" source="app/demos/dynamic-dropdowns.html"></prism>
    </tab>
    <tab>
      <tab-heading>JS Source <i class="fa fa-code"></i></tab-heading>
      <prism class="tab-content" parser="javascript" source="app/demos/dynamic-dropdowns.js"></prism>
    </tab>
  </tabset>
</div>
