<div class="header-splash-area-background">
  <div class="container header-splash-area-table">
    <div class="header-splash-area-cell">
      <h1 class="header-main-text">Angular JS <em>formFor</em></h1>
      <p class="header-sub-text">the <em>fastest</em> and <em>easiest</em> way to create and validate Angular forms</p>
      <div github-info></div>
    </div>
  </div>
</div>

<div class="container">
  <p class="lead">
    formFor is a form-creation and validation library built on top of <a href="https://angularjs.org/">Angular JS</a>.
    It is incredibly flexible and offers a wide range of configuration options.
    Here's an example form:
  </p>

  <tabbed-demo js-source="app/demos/index-form.js" html-source="app/demos/index-form.html"></tabbed-demo>

  <h1>Installation</h1>

  <p>You can install this plugin with either <a href="http://bower.io/" target="_blank">Bower</a>
  or <a href="https://www.npmjs.org/" target="_blank">NPM</a>:</p>

  <prism class="tab-content" source="app/samples/bower-npm-install"></prism>

  <p>
    This will create an <code>angular-form-for</code> folder within your <code>bower_components</code> or <code>node_components</code> directory.
    Inside of that folder there will be a <code>dist</code> folder with the formFor JavaScript and CSS files.
  </p>

  <p>
    Next include the formFor module in your Angular application like so:
  </p>

  <prism class="tab-content" parser="javascript" source="app/samples/module-definition.js"></prism>

  <p>
    Lastly include the appropriate stylesheets based on the view templates you've chosen:
  </p>

  <prism class="tab-content" parser="markup" source="app/samples/stylesheet-includes.html"></prism>

  <p>
    Check out the <em>Demos</em> and <em>Guides</em> sections to learn more.
  </p>

  <h1>License</h1>

  <p>
    Copyright (c) 2014 Brian Vaughn.
    Licensed under the MIT license.
  </p>
</div>
