<div class="header-splash-area-background">
  <div class="container header-splash-area-table">
    <div class="header-splash-area-cell">
      <h1 class="header-main-text">Angular JS <em>formFor</em></h1>
      <p class="header-sub-text">the <em>fastest</em> and <em>easiest</em> way to create and validate Angular forms</p>

      <div class="btn-and-tooltip-group fork-group">
        <a class="btn btn-sm" ng-href="{{githubData.url}}" target="_blank">
          <i class="fa fa-github"></i> Fork
        </a>
        <a class="tooltip fade right in" ng-href="{{githubData.forks_url}}" target="_blank">
          <span class="tooltip-arrow"></span>
          <span class="tooltip-inner">{{githubData.forks}}</span>
        </a>
      </div>

      <div class="btn-and-tooltip-group watch-group">
        <a class="btn btn-sm" ng-href="{{githubData.url}}" target="_blank">
          <i class="fa fa-github-alt"></i> Watch
        </a>
        <a class="tooltip fade right in" ng-href="{{githubData.watchers_url}}" target="_blank">
          <span class="tooltip-arrow"></span>
          <span class="tooltip-inner">{{githubData.watchers}}</span>
        </a>
      </div>

      <div class="btn-and-tooltip-group star-group">
        <a class="btn btn-sm" ng-href="{{githubData.url}}" target="_blank">
          <i class="fa fa-star"></i> Star
        </a>
        <a class="tooltip fade right in" ng-href="{{githubData.stargazers_url}}" target="_blank">
          <span class="tooltip-arrow"></span>
          <span class="tooltip-inner">{{githubData.stargazers}}</span>
        </a>
      </div>

    </div>
  </div>
</div>

<div class="container">
  <tabset justified="true">
    <tab>
      <tab-heading>
        Form Demo <i class="fa fa-eye"></i>
      </tab-heading>
      <div class="tab-content well" ng-include="'app/demos/index-form.html'"></div>
    </tab>
    <tab>
      <tab-heading>HTML Source <i class="fa fa-html5"></i></tab-heading>
      <prism class="tab-content" source="app/demos/index-form.html"></prism>
    </tab>
    <tab>
      <tab-heading>JS Source <i class="fa fa-code"></i></tab-heading>
      <prism class="tab-content" parser="javascript" source="app/demos/index-form.js"></prism>
    </tab>
  </tabset>

  <p>
    formFor is a form-creation and validation library built on top of <a href="https://angularjs.org/">Angular JS</a>.
    It is incredibly flexible, offering a wide range of configuration options.
    Check out the demos and documentation to learn more!
  </p>

  <p>
    Reach out to me <a href="https://github.com/bvaughn" target="_blank">on Github</a> if you've got any questions.
  </p>

  <h1>Installation</h1>

  <p>You can install this plugin with either <a href="http://bower.io/" target="_blank">Bower</a>
  or <a href="https://www.npmjs.org/" target="_blank">NPM</a>:</p>

  <prism class="tab-content" source="app/samples/bower-npm-install"></prism>

  <p>
    This will create an <code>angular-form-for</code> folder within your <code>bower_components</code> or <code>node_components</code> directory.
    Inside of that folder there will be a <code>dist</code> folder with the formFor JavaScript and CSS files.
  </p>

  <p>
    Lastly just include the formFor module in your Angular application like so:
  </p>

  <prism class="tab-content" parser="javascript" source="app/samples/module-definition.js"></prism>

  <p>
    Check out the <em>Demos</em> and <em>Guides</em> sections to learn more.
  </p>

  <h1>License</h1>

  <p>
    Copyright (c) 2014 Brian Vaughn.
    Licensed under the MIT license.
  </p>
</div>
