<div class="header-splash-area-background">
  <div class="container header-splash-area-table">
    <div class="header-splash-area-cell">
      <h1 class="header-main-text">Angular JS <em>formFor</em></h1>
      <p class="header-sub-text">the <em>fastest</em> and <em>easiest</em> way to create and validate Angular forms</p>

      <div class="btn-and-tooltip-group fork-group">
        <a class="btn btn-sm" ng-href="{{githubData.url}}" target="_blank">
          <i class="fa fa-github"></i> Fork
        </a>
        <a class="tooltip fade right in" ng-href="{{githubData.forks_url}}" target="_blank">
          <span class="tooltip-arrow"></span>
          <span class="tooltip-inner">{{githubData.forks}}</span>
        </a>
      </div>

      <div class="btn-and-tooltip-group watch-group">
        <a class="btn btn-sm" ng-href="{{githubData.url}}" target="_blank">
          <i class="fa fa-github-alt"></i> Watch
        </a>
        <a class="tooltip fade right in" ng-href="{{githubData.watchers_url}}" target="_blank">
          <span class="tooltip-arrow"></span>
          <span class="tooltip-inner">{{githubData.watchers}}</span>
        </a>
      </div>

      <div class="btn-and-tooltip-group star-group">
        <a class="btn btn-sm" ng-href="{{githubData.url}}" target="_blank">
          <i class="fa fa-star"></i> Star
        </a>
        <a class="tooltip fade right in" ng-href="{{githubData.stargazers_url}}" target="_blank">
          <span class="tooltip-arrow"></span>
          <span class="tooltip-inner">{{githubData.stargazers}}</span>
        </a>
      </div>

    </div>
  </div>
</div>

<div class="container">
  <div class="well">
    <legend>Sample sign-up form</legend>
    <form form-for="formData" controller="formController" validation-rules="validationRules" submit-with="submit()">
      <div class="row show-grid">
        <div class="col-md-6"><text-field label="Email" attribute="email"></text-field></div>
        <div class="col-md-6"><text-field label="Password" attribute="password" type="password"></text-field></div>
      </div>
      <checkbox-field label="I agree to the terms of service" attribute="iAgreeToTheTermsOfService"></checkbox-field>
      <button class="btn btn-default" ng-click="reset()">Reset <i class="fa fa-undo"></i></button>
      <button class="btn btn-primary">Sign Up <i class="fa fa-user"></i></button>
    </form>
  </div>

  <p>
    formFor is incredibly flexible, offering a wide range of configuration options.
    Check out the demos and documentation to learn more!
  </p>

  <p>
    If you've got any questions, reach out to me <a href="https://github.com/bvaughn" target="_blank">on Github</a>.
  </p>

  <h1>Installation</h1>

  <p>You can install this plugin with either <a href="http://bower.io/" target="_blank">Bower</a>
  or <a href="https://www.npmjs.org/" target="_blank">NPM</a>:</p>

  <pre class="language-bash"><code>bower install angular-form-for --save
  npm install angular-form-for --save</code></pre>

  <p>
    This will download an angular-form-for folder into your bower/node components directory.
    Inside of that folder there will be a dist folder with the formFor JavaScript and CSS files.
    By default formFor is compatible with <a href="https://github.com/bvaughn/angular-form-for/blob/master/getbootstrap.com" target="_blank">Bootstrap</a> 3.2.x styles.
    A separate, formFor only CSS stylehseet is included for those not using Bootstrap.
  </p>

  <p>
    Lastly just include the formFor module in your Angular application like so:
  </p>

  <pre class="language-javascript"><code>angular.module('myAngularApp', ['formFor']);</code></pre>

  <h1>License</h1>

  <p>
    Copyright (c) 2014 Brian Vaughn.
    Licensed under the MIT license.
  </p>
</div>
