<div class="container">
  <h1>Input Types</h1>

  <p>
    formFor supports the following field types:
  </p>

  <dl>
    <dt doclink name="textField"></dt>
    <dd>
      Used for text input.
      Specify a type attribute to configure additional behavior (like password).
      Specify a multiline attribute to enable multiline text input.
    </dd>
    <dt doclink name="selectField"></dt>
    <dd>
      Drop-down/select menu for enumerations.
      Requires an options parameter to specify the set of valid values.
      Add an allow-blank attribute to signify optional fields.
    </dd>
    <dt doclink name="radioField"></dt>
    <dd>
      Checkbox for Boolean values.
    </dd>
    <dt doclink name="checkboxField"></dt>
    <dd>
      Radio button for enumerations.
      This type of component is automatically grouped by its attribute attribute to ensure that only one value is selected at a time.
    </dd>
    <dt doclink name="submitButton"></dt>
    <dd>
      (Optional) submit button directive.
      This button automatically binds to formFor and disables itself during submission.
      For a complete list of attributes for the above directives, refer to the API Reference page.
    </dd>
  </dl>

  <p>
    For a complete list of attributes for the above directives check out the
    <a href="https://rawgit.com/bvaughn/angular-form-for/master/dist/docs/index.html" target="_blank">documentation</a>.
  </p>

  <h2>Creating a custom field</h2>

  <p>You can also create a custom field directive as follows:</p>

  <prism parser="javascript" source="app/samples/custom-field.js"></prism>

  <p>
    formFor fields have a lot of capabilities, but the only <em>requirements</em> are:
  </p>

  <ul>
    <li>
      It must register with the <span doclink name="FormForController"></span> via the <code>registerFormField</code> method.
      <ul>
        <li><em>The simplest way of doing this is to use <code>FieldHelper.manageFieldRegistration</code> as shown above.</em></li>
      </ul>
    </li>
    <li>
      The <code>registerFormField</code> method will return an object containing several keys.
      Your view should use these keys as follows:
      <ul>
        <li>Read/write to the <em>bindable</em> attribute.</li>
        <li>Observe the <em>disabled</em> attribute.</li>
        <li>Display the <em>error</em> message (if one exists).</li>
      </ul>
    </li>
  </ul>

  <ul class="pager">
    <li class="previous"><a ui-sref="app.overview"><i class="fa fa-arrow-left"></i> Overview</a></li>
    <li class="next"><a ui-sref="app.validationTypes">Validation Types <i class="fa fa-arrow-right"></i></a></li>
  </ul>
</div>
