<div class="container">
  <h1>Advanced form</h1>

  <p>
    This demo shows how to manually specify form-markup for the formFor library.
    It also illustrates asynchronously-loaded data.
  </p>

  <tabset justified="true">
    <tab>
      <tab-heading>Demo <i class="fa fa-eye"></i></tab-heading>
      <div class="tab-content well" ng-include="'app/demos/manual-form-markup.html'"></div>
    </tab>
    <tab>
      <tab-heading>HTML Source <i class="fa fa-html5"></i></tab-heading>
      <prism class="tab-content" source="app/demos/manual-form-markup.html"></prism>
    </tab>
    <tab>
      <tab-heading>JS Source <i class="fa fa-code"></i></tab-heading>
      <prism class="tab-content" parser="javascript" source="app/demos/manual-form-markup.js"></prism>
    </tab>
  </tabset>
</div>
