$border = 1px solid
$border-focused = 1px solid
$border-radius = 6px

$color-fill-1 = #f9f9f9
$color-fill-2 = #eff0f0
$color-fill-3 = #bfc8c7
$color-fill-4 = #a0b0ae
$color-fill-5 = #899795

$color-text-1 = #848b88
$color-text-2 = #3d3f3e
$color-text-3 = #252726

blue = #0075ba
gray = $color-fill-4
green = #8eb32b
orange = #ea9707
purple = #813793
red = #e35256
teal = #00a99d
yellow = #ead207

$padding-small = 5px
