$color-fill-1 = #f9f9f9
$color-fill-2 = #EFEFEF
$color-fill-3 = #CCC
$color-fill-4 = #AAA
$color-fill-5 = #999
$color-fill-6 = #666

$color-text-1 = #848b88
$color-text-2 = #3d3f3e
$color-text-3 = #252726

light-blue = #ebf6ff
medium-blue = #66afe9

blue = #0075ba
gray = $color-fill-4
green = #8eb32b
orange = #ea9707
purple = #813793
red = #e35256
teal = #00a99d
yellow = #ead207

$border-color = $color-fill-4
$border = 1px solid $border-color
$border-radius = 6px
$border-color-focused = medium-blue
$border-color-error = red
$box-shadow-focused = 0 0 4px medium-blue;
$box-shadow-error-focused = 0 0 4px red;

$padding-small = 5px

$opacity-disabled = .5

$transition = all 100ms linear

$box-shadow = inset 0 1px 1px rgba(0,0,0,.075)
