@require '_variables';

.checkbox-field {
  cursor: pointer;

  &.disabled {
    cursor: default;

    .checkbox-field-input {
      opacity: $opacity-disabled;
    }
  }
}

.checkbox-field-input {
  vertical-align: middle;
  display: inline-block;
  height: 20px;
  width: 20px;
  background-image: linear-gradient(to top, $color-fill-1, white);
  border-radius: 4px;
  border: 1px solid $color-fill-3;
  position: relative;
  margin-right: $padding-small;
  cursor: inherit;

  &.is-checked {
   &::before {
     content: "\f00c";
     font-family: FontAwesome;
     display: inline-block;
     position: absolute;
     top: 0;
     left: 0;
     width: 19px;
     line-height: 18px;
     text-align: center;
     color: $color-text-1;
   }
 }
}
