@require '_variables';

.field {
  display: block;
  position: relative;
}

.field-help {
  display: block;
  font-weight: 500;
  padding-bottom: 7px;
}

.field-error {
  position: absolute;
  top: 100%;
  border-radius: 4px;
  background-color: red;
  box-shadow: inset 0 -1px $color-red-shadow;
  color: white;
  padding: 7px 15px;
  z-index: 1000;
  margin: 0;

  &::before {
    content: '';
    border: 7px solid transparent;
    position: absolute;
    bottom: 100%;
    border-bottom-color: red;
  }

  &:not(.left-aligned) {
    right: 3px;

    &::before {
      right: 10px;
    }
  }

  &.left-aligned {
    left: 0;

    &::before {
      left: 4px;
    }
  }
}
