@require '_variables';

error-field-background-color = rgba(red, .95);

.field-error {
  position: absolute;
  top: 100%;
  border-radius: 4px;
  background-color: red;
  background-color: error-field-background-color;
  color: white;
  padding: 7px 15px;
  z-index: 1000;
  margin: 0;
  pointer-events: none;

  &::before {
    content: '';
    border: 7px solid transparent;
    position: absolute;
    bottom: 100%;
    border-bottom-color: red;
    border-bottom-color: error-field-background-color;
  }

  &:not(.left-aligned) {
    right: 3px;

    &::before {
      right: 10px;
    }
  }

  &.left-aligned {
    left: 0;

    &::before {
      left: 4px;
    }
  }
}
