@require '_variables';

field-label {
  display: inline-block;
}

.help-icon-stack {
  position: relative;
  font-size: .8em;

  .help-background-icon,
  .help-foreground-icon {
    text-align: center;
  }

  .help-background-icon {
    color: $color-text-1;
  }
  .help-foreground-icon {
    color: white;
    position: absolute;
    left: 0;
  }
}

.field-label {
  position: relative;
  cursor: inherit;
  font-weight: bold;
  user-select: none;

  &:hover {
    .help-icon-stack {
      .help-background-icon {
        color: lighten($color-text-1, 5%);
      }
    }
  }
}

.field-label-required-label {
  color: $color-text-1;
  font-style: italic;
  font-size: .8em;
}
