@require '_variables';

.field-label {
}

.help-icon-stack {
  position: relative;

  .help-background-icon,
  .help-foreground-icon {
    line-height: 20px;
    width: 20px;
    text-align: center;
  }

  .help-background-icon {
    font-size: 20px;
    color: $color-fill-5;
  }
  .help-foreground-icon {
    color: white;
    position: absolute;
    left: 0;
  }
}
