@import 'nib'

@require '_variables';

select-field {
  display: block;
  position: relative;
}

.select-field-toggle-button {
  position: relative;
  background: linear-gradient(top, white, $color-fill-2);
  border-radius: $border-radius;
  border: $border;
  color: inherit;
  display: block;
  font-family: inherit;
  font-size: inherit;
  line-height: 1.5;
  margin: 0;
  outline: none;
  padding: 6px 9px;
  width: 100%;
  margin-top: $padding-small;
  text-align: left;
  box-sizing: border-box;

  &:after {
    content: "\f0dc";
    font-family: FontAwesome;
    color: $color-text-1;
    line-height: 2.3em;
    position: absolute;
    right: 10px;
    top: 0;
    width: 20px;
    text-align: center;
  }

  &:not(.disabled):not(.open):hover {
    background: linear-gradient(top, white, lighten($color-fill-2, 3));
  }

  &.blank-selected {
    color: $color-text-1;
  }
  &.open {
    background: white;
  }

  &.disabled {
    opacity: $opacity-disabled;
  }
}

.select-field-list-container {
  z-index: 1050; // Needs to be higher than .has-error
  position: absolute;
  width: 100%;
  background-color: white;
  border: $border;
  border-color: $border-color-focused;
  box-shadow: $box-shadow-focused;
  box-sizing: border-box;
}

.select-field-list-scrollable {
  max-height: 200px;
  overflow: auto;
}

.select-field-list {
  padding: 0;
  list-style: none;

  .select-field-list-item {
    display: block;
    padding: 6px 9px;

    strong {
      font-weight: inherit;
    }

    &:hover,
    &.hover {
      background-color: light-blue;
    }
    &.active {
      font-weight: bold;
    }
  }
}

.filter-input-group {
  line-height: 1em;
  margin: 10px 10px 5px;
  padding: 0;

  .text-field-input {
    border-color: $border-color-focused;
    box-shadow: $box-shadow-focused;
  }
}

.select-field {
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;

  .select-field-toggle-button {
    .select-field-toggle-caret {
      display: none;
    }
  }

  &.direction-up {
    .select-field-toggle-button {
      &.open {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-top: none;
      }
    }
    .select-field-list-container {
      border-top-left-radius: $border-radius;
      border-top-right-radius: $border-radius;
    }
  }
  &.direction-down {
    .select-field-toggle-button {
      &.open {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: none;
      }
    }
    .select-field-list-container {
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
    }
  }

  &.disabled {
    cursor: default;
  }

  &.has-error {
    .select-field-toggle-button {
      border-color: $border-color-error;
    }

    &.open {
      .field-error {
        display: none;
      }
    }
  }

  .select-field-toggle-button {
    &:focus,
    &.open {
      border-color: $border-color-focused;
      box-shadow: $box-shadow-focused;
    }
  }
}
