@import 'nib'

@require '_variables';

select-field {
  display: block;
}

.select-field-toggle-button {
  position: relative;
  background: linear-gradient(top, white, $color-fill-2);
  border-radius: $border-radius;
  border: $border;
  color: inherit;
  display: block;
  font-family: inherit;
  font-size: inherit;
  line-height: 1.5;
  margin: 0;
  outline: none;
  padding: 6px 9px;
  width: 100%;
  margin-top: $padding-small;
  text-align: left;
  box-sizing: border-box;

  &:after {
    content: "\f0dc";
    font-family: FontAwesome;
    color: $color-text-1;
    line-height: 2.3em;
    position: absolute;
    right: 10px;
    top: 0;
    width: 20px;
    text-align: center;
  }

  &:not(.disabled):not(.open):hover {
    background: linear-gradient(top, white, lighten($color-fill-2, 3));
    border-color: lighten($color-fill-4, 5);
  }

  &.blank-selected {
    color: $color-text-1;
  }
  &.open {
    background: white;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom: none;
  }

  &.disabled {
    opacity: $opacity-disabled;
  }
}

.list-group-container {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 1050; // Needs to be higher than .has-error
  background-color: white;
  border: $border;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  box-shadow: $box-shadow;
  box-sizing: border-box;
}

.list-group-scrollable {
  max-height: 200px;
  overflow: auto;
}

.list-group {
  padding: 0;
  list-style: none;

  .list-group-item {
    display: block;
    padding: 6px 9px;

    strong {
      font-weight: inherit;
    }

    &:hover,
    &.hover {
      background-color: $color-blue-hover;
    }
    &.active {
      font-weight: bold;
    }
  }
}

.filter-input-group {
  line-height: 1em;
  margin: 10px 10px 5px;
  padding: 0;
}

.select-field {
  position: relative;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;

  .select-field-toggle-button {
    .select-field-toggle-caret {
      display: none;
    }
  }

  &.disabled {
    cursor: default;
  }

  &.has-error {
    .select-field-toggle-button {
      border-color: $border-color-error;
    }

    &.open {
      .field-error {
        display: none;
      }
    }
  }
}
