@require '_variables';

.submit-button {
  &:not(.disabled):not(:disabled) {
    &:hover, &:active {
    }
  }

  &:active {
  }

  &.disabled,
  &:disabled {
  }
}

.submit-button-icon {
  margin-right: 5px;
}
