@require '_variables';

text-field {
  display: block;
}

.text-field-input {
  border-radius: 4px;
  border: $border;
  box-shadow: inset 0 1px 4px rgba(0,0,0, 0.15);
  color: inherit;
  display: block;
  font-family: inherit;
  font-size: inherit;
  line-height: 1.5;
  margin: 0;
  outline: none;
  padding: 6px 9px;
  width: 100%;
  margin-top: $padding-small;
  box-sizing: border-box;

  &:focus {
    border-color: $border-color-focused;
  }

  &.has-icon-before {
    padding-left: 40px;
  }
  &.has-icon-after {
    padding-right: 40px;
  }
}

.input-group {
  position: relative;

  .input-group-addon {
    position: absolute;
    top: 50%;
    width: 20px;
    text-align: center;
    line-height: 1em;
    margin-top: -0.5em;
    color: $color-text-1;

    &.input-group-addon-before {
      left: 12px;
    }

    &.input-group-addon-after {
      right: 12px;
    }
  }
}

.text-field {
  &.disabled {
    .text-field-input {
      opacity: $opacity-disabled;
    }
  }

  &.has-error {
    .text-field-input {
      border-color: $border-color-error;
    }
  }
}
