@require '_variables';

type-ahead-field {
  display: block;
}

.type-ahead-field-input {
  border-radius: 4px;
  border: $border;
  box-shadow: $box-shadow;
  color: inherit;
  display: block;
  font-family: inherit;
  font-size: inherit;
  line-height: 1.5;
  margin: 0;
  outline: none;
  padding: 6px 9px;
  width: 100%;
  margin-top: $padding-small;
  box-sizing: border-box;

  &:focus {
    border-color: $border-color-focused;
  }

  &.has-icon-before {
    padding-left: 40px;
  }
  &.has-icon-after {
    padding-right: 40px;
  }
}

.type-ahead-field {
  &.disabled {
    .type-ahead-field-input {
      opacity: $opacity-disabled;
    }
  }

  &.has-error {
    .type-ahead-field-input {
      border-color: $border-color-error;
    }
  }

  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 200px;
    overflow: auto;
    z-index: 1050; // Needs to be higher than .has-error
    background-color: white;
    border: $border;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    box-shadow: $select-field-box-shadow;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;

    > li {
      display: block;
      padding: 6px 9px;

      &.active {
        background-color: $color-blue-hover;
      }
    }
  }
}
