<!-- Filtered dropdowns use a type-ahead style component -->
<input  aria-manager
        id="{{model.uid}}-filter"
        name="{{attribute}}"
        type="search"
        tabindex="{{tabIndex}}"
        placeholder="{{placeholder}}"
        ng-disabled="disable || model.disabled"
        ng-model="scopeBuster.filter"
        ng-click="filterTextClick($event)"
        ng-focus="open()"
        ng-keydown="keyDown($event)">

<ul>
    <li ng-repeat="option in filteredOptions"
        ng-class="{ 'form-for-typeahead-list-item-active': option === selectedOption,
                    'form-for-typeahead-list-item-hover':  $index === mouseOverIndex}"
        ng-bind="option[labelAttribute]"
        ng-mousedown="selectOption(option)"
        ng-mouseenter="mouseOver($index)">
    </li>
</ul>

<i class="form-for-input-icon-right fa fa-search"></i>